NODE_ENV=development

# DO NOT set PORT in production (Railway injects it)
PORT=5000

# Local frontend
CORS_ORIGIN=http://localhost:3000

# Local DB
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=learnhub_gamification

JWT_SECRET=e9718ec550b6d5fb880f69688ce49358816ac587726b284dc9703b38a506ab31e4caeef22271b4c8dfe8a953ace0963a8bbe9ee2f8e422adf47d836e35cc702b
JWT_EXPIRE=7d